<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- FOR CRM OnPremise provided to Arsalan-->
    <add key="Username" value="ashahid"/>
    <add key="Password" value="P@ssw0rd@4512445"/>
    <add key="Domain" value="SEDA"/>
    <add key="ServerAddress" value="http://crm.seda.sa/SEDAMSCRM/api/data/v9.0/"/>
    <add key="ServerStgConnString" value="Data Source=DESKTOP-0V3B0L9\SQLSERVER_ARSALA;Initial Catalog=CRMWebApiStag;Integrated Security=True"/>
    <!--CRM ONPremise End-->
  </appSettings>
</configuration>